header {
    text-align: center;
}

.photo {
    height:"650";
    text-align: center; 
    float: left;
}

ul {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center; color: gray; clear: both;
}