header {
    text-align: center;
}

.photo {
    float: right;
    margin-right: 10%;
}

.center {
    margin-top: 10%;
}

.center p {
    margin-left: 10%;
    margin-bottom: 15px;
    margin-right: 50%;
    text-align: center;
}

footer {
    text-align: center; 
    color: gray; 
    clear: both; 
}