header {
    color: white;
    text-align: center;
    font-family:  "Lucida Handwriting", cursive;
    padding-top: 8%;
    padding-bottom: 3%;
}

h2 {
    color: white;
}

h3 {
    size: 250%;
}

body {
    background-image: url("../Background-Photo.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}

.photo {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    height: 75vh;
}

.center {
    text-align: center;
}

p {
    text-align: center;
    color: white;
}

.contact {
    color: white;
    margin-top: 5%;
    size: 200vb;
}

footer {
    color: lightgray; 
    clear: both; 
    position: sticky;
    top: 95%;
    bottom: 2%;
    left: 30%;
    right: 30%;
    text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

footer a:link {
  color: lightgray;
  text-decoration: none;
}

footer a:visited {
  color: lightgray;
  text-decoration: none;
}