header {
    text-align: center;
}

.photo {
    float: left;
    margin-left: 10%;
}

.center {
    display: flex;
    align-items: center;
    margin-top: 20%;
}

section p {
    text-align: center;
    margin-bottom: 15px;
    margin-left: 20%;
}

footer {
    text-align: center; 
    color: gray; 
    clear: both; 
}